html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.8rem;
	background: radial-gradient(ellipse at center, #f5f5f5 0%, #ddd 100%);
}

a {
	color: #333;
	text-decoration: none;
}

h1 {
	font-family: Merriweather, serif;
}

.thumbnail-grid {
	user-select: none
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch
}

.flex-item {
	flex: 1 0 auto
}

.thumbnail-grid figure {
	position: relative;
	min-width: 200px;
	height: 150px;
	margin: 5px;
	border-radius: 3px;
	box-shadow: inset 0 -40px 0 0 rgba(0, 0, 0, .6);
	transition: all .9s ease-in-out
}

.thumbnail-grid figure:hover {
	box-shadow: inset 0 -150px 0 0 rgba(0, 0, 0, .8);
}

.thumbnail-grid figcaption {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #f4f4f4;
	text-shadow: 0 0 3px #000;
	bottom: 10px;
	transition: all .7s ease-in-out
}

.thumbnail-grid figure:hover figcaption {
	bottom: 60px
}

* {
	box-sizing: border-box
}

.thumbnail-grid figure.i1 {
	background: url(../img/fig1.PNG) no-repeat center;
	background-size: cover;
}

.thumbnail-grid figure.i2 {
	background: url(../img/fig2.PNG) no-repeat center;
	background-size: cover
}

.thumbnail-grid figure.i3 {
	background: url(../img/fig3.PNG) no-repeat center;
	background-size: cover
}
